<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>MusicApp</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.408356281538-2k54laagn1fri49k8l6lsd85grq5soet</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>408356281538-2k54laagn1fri49k8l6lsd85grq5soet.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>ru</string>
    </array>
</dict>
</plist>
